@import "./node_modules/bulma/sass/utilities/_all";

$raleway: 'Raleway', sans-serif;
$roboto: 'Roboto', sans-serif;
$body-family: $roboto;
$body-size: 20px;

@import "./node_modules/bulma/sass/base/_all";
@import "./node_modules/bulma/sass/components/navbar";
@import "./node_modules/bulma/sass/elements/title";
@import "./node_modules/bulma/sass/elements/container";
@import "./node_modules/bulma/sass/grid/_all";
@import "./node_modules/bulma/sass/layout/_all";

.title {
  &.is-1, &.is-2 {
    font-family: $raleway;
  }
}

i[class^="devicon"] {
  font-size: 3em;
}

section:nth-of-type(even) {
  background-color: $background;
}