@import "./node_modules/bulma/sass/utilities/initial-variables";

$my-sin: #FDB342;
$primary: $my-sin;

@import "./node_modules/bulma/sass/utilities/_all";

$raleway: 'Raleway', sans-serif;
$roboto: 'Roboto', sans-serif;
$body-family: $roboto;
$body-size: 20px;

@import "./node_modules/bulma/sass/base/_all";
@import "./node_modules/bulma/sass/components/card";
@import "./node_modules/bulma/sass/components/level";
@import "./node_modules/bulma/sass/components/navbar";
@import "./node_modules/bulma/sass/elements/button";
@import "./node_modules/bulma/sass/elements/container";
@import "./node_modules/bulma/sass/elements/content";
@import "./node_modules/bulma/sass/elements/icon";
@import "./node_modules/bulma/sass/elements/image";
@import "./node_modules/bulma/sass/elements/tag";
@import "./node_modules/bulma/sass/elements/title";
@import "./node_modules/bulma/sass/grid/_all";
@import "./node_modules/bulma/sass/layout/_all";

.title {
  &.is-1 { font-family: $raleway; }
  &.is-5 { font-weight: lighter; }
}

.subtitle {
  &.is-2 { font-family: $raleway; }
}

i[class^="devicon"] { font-size: $size-1; }

section:nth-of-type(even) { background-color: $background }

.icon.is-large {
  margin: 0 10px;
 .fa { font-size: $size-1; }
 a {
   color: $grey-darker;
   &:hover { color: $grey; }
 }
}

.contact {
  background-color: $background;
}

.footer {
  background-color: $grey-darker;
  color: white;
  a:hover { color: darken($primary, 30%); }
}

.navbar {
  .navbar-burger {
    span { background-color: $primary; }
    &:hover {
      background-color: $primary;
      span { background-color: white; }
    }
  }
  .navbar-item {
    color: $primary;
    &:hover {
      background-color: $primary;
      color: white;
    }
  }
}

.current-project__image {
  // filter: grayscale(1) contrast(.5) blur(.5px) brightness(1.2);
  box-shadow: $card-shadow;
}

.past-projects {
  .past-projects__filter {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $primary;
    z-index: 2;
    opacity: .7;
    a { z-index: 3; }
  }
//  .past-projects__image { filter: grayscale(1) contrast(.3) blur(.5px) brightness(1.2); }
}

.credits {
  font-size: $size-6;
}

.hide {
  display: none;
}
