<div class="container">
  <header>
    <nav class="navbar">
      
      <div class="navbar-brand">
        <div class="navbar-burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div class="navbar-menu" id="navMenu">
        <div class="navbar-start"></div>
        <div class="navbar-end">
          <a href="/#about" class="navbar-item">
            <span class="icon">
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>
            About
          </a>
          <a href="/#work" class="navbar-item">
            <span class="icon">
              <i class="fa fa-briefcase" aria-hidden="true"></i>
            </span>
            Work
          </a>
          <a href="/#contact" class="navbar-item">
            <span class="icon">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </span>
            Contact
          </a>
          <a href="/#blog" class="navbar-item">
            <span class="icon">
              <i class="fa fa-rss" aria-hidden="true"></i>
            </span>
            Blog
          </a>
        </div>
      </div>

    </nav>
  </header>
</div>